<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds"
	debug="true">
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="LOG.CHARSET" value="UTF-8" />
	<property name="LOG_LEVEL" value="DEBUG" />
	<property name="LOG_PATH" value="./logs" />
	<property name="LOG_FILE_NAME" value="auth" />
	<property name="LOG_MAX_HISTORY" value="30" />

	<property name="STD_LOG_FORMAT"
		value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%level] | [%logger:%line] | %msg%n" />
	<property name="FILE_LOG_FORMAT"
		value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%level] | [%logger{36}:%line] | %msg%n" />
	<property name="SQL_LOG_FORMAT"
		value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%level] | [%logger{36}:%line] | %msg%n" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>${LOG.CHARSET}</charset>
			<pattern>${STD_LOG_FORMAT}</pattern>
		</encoder>
	</appender>

	<appender name="FILE-APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>${LOG_LEVEL}</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<File>${LOG_PATH:-.}/${LOG_FILE_NAME}.log</File>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH:-.}/${LOG_FILE_NAME}-%d{yyyyMMdd}.log
			</fileNamePattern>
			<maxHistory>${LOG_MAX_HISTORY}</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder>
			<charset>${LOG.CHARSET}</charset>
			<pattern>${FILE_LOG_FORMAT}</pattern>
		</encoder>
	</appender>

	<!--以“天”为单位生成各日志文件 -->
	<appender name="ERROR-APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<!-- 过滤器，只记录 error 级别的日志 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<!-- 日志名称 -->
		<File>${LOG_PATH:-.}/${LOG_FILE_NAME}-error.log</File>
		<!-- 每天生成一个日志文件，保存 30 天的日志文件 -->
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名：按天回滚 daily -->
			<FileNamePattern>${LOG_PATH:-.}/${LOG_FILE_NAME}-error-%d{yyyyMMdd}.log
			</FileNamePattern>
			<!--日志文件保留天数 -->
			<maxHistory>${LOG_MAX_HISTORY}</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder>
			<!-- 编码 -->
			<charset>${LOG.CHARSET}</charset>
			<!--格式化输出：%d 表示日期，%thread 表示线程名，%-5level：级别从左显示 5 个字符宽度 %msg：日志消息，%n 是换行符 -->
			<Pattern>${FILE_LOG_FORMAT}</Pattern>
		</encoder>
	</appender>

	<appender name="SQL-APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_PATH:-.}/${LOG_FILE_NAME}-sql.log</File>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_PATH:-.}/${LOG_FILE_NAME}-sql-%d{yyyyMMdd}.log
			</FileNamePattern>
			<maxHistory>${LOG_MAX_HISTORY}</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder>
			<charset>${LOG.CHARSET}</charset>
			<Pattern>${FILE_LOG_FORMAT}</Pattern>
		</encoder>
	</appender>

	<appender name="ACCESS-APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_PATH:-.}/${LOG_FILE_NAME}-access.log</File>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_PATH:-.}/${LOG_FILE_NAME}-access-%d{yyyyMMdd}.log
			</FileNamePattern>
			<maxHistory>${LOG_MAX_HISTORY}</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder>
			<charset>${LOG.CHARSET}</charset>
			<Pattern>${FILE_LOG_FORMAT}</Pattern>
		</encoder>
	</appender>

	<springProfile name="test,dev">
		<logger name="org.springframework" level="INFO"
			additivity="false" />
		<logger name="org.springframework.beans.factory" level="DEBUG"
			additivity="false" />
		<logger name="org.mybatis" level="ERROR" additivity="false" />
		<logger name="druid.sql" level="ERROR" additivity="false" />
		<logger name="com.alibaba.druid" level="ERROR"
			additivity="false" />
		<logger name="com.alibaba.rocketmq" level="ERROR"
			additivity="false" />
		<logger name="springfox.documentation" level="INFO"
			additivity="false" />
	</springProfile>


	<springProfile name="prod">
		<logger name="org.springframework" level="INFO"
			additivity="false" />
		<logger name="org.springframework.beans.factory" level="INFO"
			additivity="false" />
		<logger name="org.mybatis" level="ERROR" additivity="false" />
		<logger name="druid.sql" level="ERROR" additivity="false" />
		<logger name="com.alibaba.druid" level="ERROR"
			additivity="false" />
		<logger name="com.alibaba.rocketmq" level="ERROR"
			additivity="false" />
		<logger name="springfox.documentation" level="INFO"
			additivity="false" />
	</springProfile>

	<root level="${LOG_LEVEL}">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-APPENDER" />
		<appender-ref ref="ERROR-APPENDER" />
	</root>


</configuration>